{% extends 'adminlte/base.html' %}

{% block title %}Viaduct{% endblock %}
{% block body_class %}layout-top-nav{% endblock %}
{% block javascript %}
    {% include 'search/javascript.html' %}
{% endblock %}
{% block stylesheets %}
    {% include 'search/styles.html' %}
{% endblock %}

{% block nav_header %}
    {% include 'search/header.html' %}
{% endblock %}
{% block nav_footer %}
    {% include 'search/footer.html' %}
{% endblock %}
{% block nav_sidebar %}
    {% include 'search/sidebar.html' %}
{% endblock %}