        <div class="container-fluid">
            <h2 class="text-center display-4">Viaduct</h2>
            <form action="/" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-9">
                                <div class="form-group">
                                    <label>Search Databases:</label>
                                    <select name="arches-instance" class="select2" multiple="multiple" data-placeholder="Any" style="width: 100%;">
{% for instance in instances %}
                                        <option value="{{ instance.pk }}"{% if instance.selected %} selected{% endif %}>{{ instance.label }}</option>
{% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Search Type:</label>
                                    <select name="search-type" class="select2" style="width: 100%;">
                                        <option {% if searchtype == "keyword" %}selected {% endif %}value="keyword">Keyword Search</option>
                                        <option {% if searchtype == "concept" %}selected {% endif %}value="concept">Concept Search</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="search" name="q" value="{{ query }}" class="form-control form-control-lg" placeholder="Type your keywords here">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
{% if results %}

            <div class="row mt-3">
                <div class="col-md-10 offset-md-1">
                    <div class="list-group" id="search-results-combined">
{% for result in results %}
{% if result.pk %}

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col px-4">
                                    <div>
                                        <div class="float-right">{{ result.source }}</div>
                                        <h3>{{ result.label }}</h3>
                                        <p class="mb-0">{{ result.uri }}</p>
                                        <div class="float-right"><a class="btn btn-primary" href="{{ result.uri }}">More Information</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

{% else %}

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col px-4">
                                    <div>
                                        <div class="float-right">{{ result.source.label }}</div>
                                        <h3>{{ result.displayname }}</h3>
                                        <p class="mb-0">{{ result.displaydescription }}</p>
                                        <div class="float-right"><a class="btn btn-primary" href="{{ result.url }}">More Information</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

<!--// {{ result }} //-->

{% endif %}
{% endfor %}
                    </div>
                </div>
            </div>

{% endif %}
        </div>